/* style.css */
body {
  font-family: sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  background: #fff;
  padding: 50px;
  border-radius: 16px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
  width: 600px;
  z-index: 1;
}
h2 {
  text-align: center;
  color: #d628df;
  font-size: 42px;
  font-weight: bold;
  margin-bottom: 35px;
}
.hidden {
  display: none;
  
}
.button-group button, button {
  width: 100%;
  margin-top: 15px;
  padding: 15px;
  font-size: 20px;
  background-color: #d628df;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
input, select {
  width: 100%;
  padding: 15px;
  margin-top: 12px;
  font-size: 23px;
  margin-bottom: 18px;
  box-sizing: border-box;
}
.form-row {
  display: flex;
  flex-direction: column; /* 세로 방향 */
  align-items: flex-start; /* 왼쪽 정렬 */
  margin-bottom: 17px;
  font-size: 20px;
}

.form-row label {
  margin-right: 24px;
  display: flex;
  align-items: center;
  white-space: nowrap;
}


.form-row input[type="radio"],
.form-row input[type="checkbox"] {
  margin-right: 10px;
  transform: scale(1.5);
  
  
}
.back-button {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 16px;
  background-color: transparent;
  padding: 6px 14px;
  border-radius: 8px;
  color: #444;
  cursor: pointer;
  z-index: 1000;
}

.back-button:hover {
  background-color: #f2f2f2;
  text-decoration: underline;
}
#splash-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  z-index: 9999;
  flex-direction: column;
}
#splash-screen img {
  max-width: 300px;
  max-height: 300px;
  object-fit: contain;
}
#consent-screen label {
display: inline-flex;
align-items: center;
gap: 8px; /* 간격 조정용 */
font-size: 18px;
white-space: nowrap;
}
#map {
  width: 100%;
  height: 600px;
}
#info {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ccc;
}